nav {
    background-color: #000000;
}


.imagensize {
    width: 30px;
    height: 30px;
}


.container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.img_sz {
    width: 300px;
    height: 300px;
}